.filter-item {
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a9a9a9;
}

.filter-item span {
  padding: 2px 8px;
  background: grey;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

.filter-item.active {
  color: blue;
  border-bottom: 1px solid blue;
}
